{% extends "base.html" %}

{% block content %}
<div class="absolute inset-0 bg-base-200">
    <div class="min-h-screen hero pt-8 -mt-32">
        <div class="flex-col hero-content">
            <div class="text-center">
                <h2 class="text-3xl font-bold">Sign in to your account</h2>
                <p class="py-3 text-sm text-base-content/70">Enter your credentials to access your account</p>
            </div>
            
            <div class="w-full card bg-base-100 shadow-xl sm:w-[450px]">
                <form class="card-body" method="POST" action="{{ url_for('auth.login') }}">
                    {{ form.hidden_tag() }}
                    
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Username or Email</span>
                        </label>
                        {{ form.username(class="input input-bordered w-full", placeholder="Enter your username or email") }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <label class="label">
                                    <span class="label-text-alt text-error">{{ error }}</span>
                                </label>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        {{ form.password(class="input input-bordered w-full") }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <label class="label">
                                    <span class="label-text-alt text-error">{{ error }}</span>
                                </label>
                            {% endfor %}
                        {% endif %}
                        <label class="label">
                            <a href="{{ url_for('auth.reset_request') }}" class="label-text-alt link link-hover">Forgot password?</a>
                        </label>
                    </div>

                    <div class="mt-6 form-control">
                        {{ form.submit(class="btn btn-primary w-full text-white") }}
                    </div>

                    <div class="text-center">
                        <p class="text-sm text-base-content/70">
                            Not a member?
                            <a href="{{ url_for('auth.register') }}" class="link link-primary">Register here</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}